body{
    background: black;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center; 
    align-items: flex-end;     
}

.img{
    width: 500px;
    height: auto;
}

